<div class="jumbotron">
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Hola</h2>
        @{
            //var url = HttpContext.Current.Request.Url.AbsoluteUri;
            var folder = "~/Content/Componentes";
            var directory = Path.Combine(HttpContext.Current.Server.MapPath(folder));
            string[] Separado = directory.Split('\\');
            string Final = Separado[Separado.Length - 1];
            Separado[Separado.Length - 3] = "Falla";
            var directorio = string.Empty;
            for (int i = 0; i < Separado.Length - 1; i++)
            {
                directorio = directorio + "/" + Separado[i];
            }
            directory = Path.Combine(directorio);
        }
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        @{ 
            foreach (var item in Separado)
            {
                <div class="col-md-4">
                    @item
                </div>
            }
        }
    </div>
    <div class="col-md-4">
        Directorio :
        @directorio
        Directory :
        @directory
    </div>
</div>
